$theme-colors: (
  primary: #aa4465,
  secondary: #ddfff7,
  danger: tomato
);

@import '../../node_modules/bootstrap/scss/bootstrap';

.offcanvas {
  z-index: 0;
}

.navbar {
  z-index: 1;
}

.teste {
  width: 80%;
}

.sidemenu {
  width: 20%;
}
