$theme-colors: (
  primary: #aa4465,
  secondary: #ddfff7,
  danger: tomato
);

@import '../../node_modules/bootstrap/scss/bootstrap';

.offcanvas {
  z-index: 0;
}

.navbar {
  z-index: 1;
}

.navbarWidth {
  width: 80%;
}

.navbarLogoCursor {
  cursor: pointer;
}

.dropdown-toggle::after {
  vertical-align: 0.03em;
}

.sidemenu {
  width: 20%;
}
